body{
  Background: Turquoise;
}
P{
  font-family:sans-serif;
}

h1{
  color:Black;
}
H2{
  Color: Black;
}
  .heading{
    font-weight;bold;
  }
  #dog{
    color:blue;
    font-size:200%;
}
a{
  color: purple
}
