body {
	 Background: grey;
	font-family:"Times New Roman", Times, serif;
}
	
#contents {
	background: #444 url("https://s-media-cache-ak0.pinimg.com/736x/54/7a/9c/547a9cc6b93e10261f1dd8a8af474e03--wolves-art-digital-illustration.jpg");
	margin-left:auto;
	margin-right:auto;
	width:700px;
Background-color:CornflowerBlue ;
	color:white;
	padding: 35px;
	font-family: 'Lato', san-serif;
	font-size:medium;
	boarder:white inset 40px;

}
#boarder{
	background:blue;
}


h1 { 

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address { 

}
 
 #home, #page2 {
background color:dark grey
 padding:35px
}
 h3 {

}
 
 img {
width:200px;
}

img.left {
float:right
}

#footer {

}

#clearer {

}
