#contents{
	background: #444 url("http://media.gettyimages.com/videos/abstract-electronic-circuits-loop-black-and-white-version-video-id114143852?s=640x640");
 
}
#Home{
 Background: #444 url("http://newevolutiondesigns.com/images/freebies/black-white-background-2.jpg");
Background-color: yellow;
 
}
 .topnav {
 overflow: hidden;
    background: rgba(0,0,0,.75);
    border-radius: 10px;
    margin-top: 10px;
}

.topnav a {
 float: left;
 display: block;
 color: #f2f2f2 ;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav a:hover {
 background-color: #ddd;
 color: pink;
}

.topnav .icon {
 display: none;
}


