body {
	 Background: url("https://ak3.picdn.net/shutterstock/videos/25587002/thumb/11.jpg");
	font-family:"Times New Roman", Times, serif;
}
	
#contents {
	background: 
P{
  font-family:sans-serif;
}

h1{
  color:;
}
H2{
  Color: ;
}
  .heading{
    font-weight;bold;
  }
 

